{% extends 'base_2.html' %}


{% block content %}
  <div class="member-profile">
    <div class="row">
      <div class="col-sm-4 col-md-3 hidden-xs">
        <div class="thumbnail">
            <img src="http://placehold.it/240x240">
        </div>
      </div>
      <div class="col-md-7">
        <blockquote>
          {% if user.get_full_name %}
            {{ user.get_full_name }}
          {% else %}
            {{ user.username }}
          {% endif %}
        </blockquote>
        <p>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;{{ user.username }}
        </p>
        <p>
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;{{ user.email }}
        </p>
        <p>
          <span class="glyphicon glyphicon-calendar"
                aria-hidden="true"></span>&nbsp;&nbsp;{{ user.date_joined|date:"Y-m-d H:i:s" }}
        </p>
        <p>
          <span class="glyphicon glyphicon-log-in"
                aria-hidden="true"></span>&nbsp;&nbsp;{{ user.last_login|date:"Y-m-d H:i:s" }}
        </p>
        {% for backend in backends.backends %}
          <form method="post" action="{% url 'social:disconnect' backend %}">
            {% csrf_token %}

            {% if backend not in backends.not_associated %}
              <button type="submit" class="btn btn-social btn-{{ backend }}">
                <span class="fa fa-{{ backend }}"></span>Disconnect&nbsp;
              </button>
            {% endif %}
          </form>
        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}