{% extends "base_2.html" %}

{% block header %} 

<style type="text/css">
.container {
	margin-top: 20px;
}

</style>

{% endblock header%}


{% block content %}


		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<div class="page-header">
					<h1>{{ sausage.name}} <small>{{ sausage.category }}, ${{ sausage.current_price }}</small></h1>
				</div>
				<ul>
					<li>種類 {{ sausage.category}}
					<li>原價 {{ sausage.original_price }}
					<li>售價 {{ sausage.current_price}}
					<li>產地 {{ sausage.place_of_origin }}
				</ul>
				<div class="panel panel-primary">
					<div class="panel-body"> {{ sausage.description }} 
					</div>
				</div>

				{% if sausage.image %}
				<img src="{{ sausage.image.url }}" class="center-block img-responsive">
				{% endif %}


			</div>
		</div>

{% endblock content %}

