<!DOCTYPE html>
<html lang="en">

<head>  
	<meta charset="UTF-8">  
	<title>My sausege store</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<style type="text/css">
.container {
	margin-top: 20px;
}

</style>


<body>



	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<div class="page-header">
					<h1>{{ sausage.name}} <small>{{ sausage.category }}, ${{ sausage.current_price }}</small></h1>
				</div>
				<ul>
					<li>種類 {{ sausage.category}}
					<li>原價 {{ sausage.original_price }}
					<li>售價 {{ sausage.current_price}}
					<li>產地 {{ sausage.place_of_origin }}
				</ul>
				<div class="panel panel-primary">
					<div class="panel-body"> {{ sausage.desription }} 
					</div>
				</div>
			</div>
		</div>
	</div>


	


</body>
</html>