{% extends 'base_2.html' %}

{% block content %}

<div class='row'>
    <div class='col-sm-8 col-sm-offset-2'>
        <h2 class='text-center'>{{title}}</h2>
        <p class=' text-center'>
            <span class='glyphicon glyphicon-earphone'></span> : {{ phone }}
        </p>
        <p class=' text-center'>
            <span class='glyphicon glyphicon-home'></span> : {{ address }}
        </p>
        <p class=' text-center'>
            <span class='glyphicon glyphicon-envelope'></span> : {{ email }}
        </p>

    </div>
</div>


{% endblock content %}