<!DOCTYPE html>
<html lang="en">

<head>  
	<meta charset="UTF-8">  
	<title>My sausege store</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<style type="text/css">
.container {
	margin-top: 20px;
}

</style>




<body>


	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<!-- category list -->
				<ul class="list-group">        
					{% for category in categories %}
					<li class="list-group-item">
						<a href="{% url 'sausage_list' category=category.name %}">               {{ category.name }} </a>
					</li>
					{% endfor %}
				</ul>
			</div>

			<div class="col-xs-9">
				{% for sausage in sausage_list%}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
						<a href="">          
						{{ sausage.name}} | 產地：{{ sausage.place_of_origin }}
					    </a>
						</h3>
					</div>
					<div class="panel-body">
						<a href="">      
							{{ sausage.description|truncatechars:50 }}
						</a>
					</div>
					<div class="panel-footer">
						售價：{{ sausage.current_price}}, 種類：{{ sausage.category }}
					</div>	
				</div>
				{% endfor%}
			</div>		
		</div>
	</div>


	





	
	

</body>
</html>